.description{
    border:solid #6A4DFF;
    border-radius:1rem;
    height: 9rem;
    width: 20rem;
  gap: 4rem;
}

.navbar-custom{
    background-color:#111217 ;
}

.colonne-couleur{
    background-color:#17181F ;
}

.phrase{
    font-size: medium;
}

.petitePhrase{
    font-size: small;
    color:grey ;
    
}

.petitTiret{
    border:solid gray;
    
    
}

svg{
    color:#6A4DFF;
}

.vide{
    height: 10rem;
}


.finisher{
    background-color: #111217;
}

.sypno{
    color: aquamarine;
    font-size:x-large
}

.seance{
    font-size: x-large;
    color:crimson
}

.addictScroll{
  
}